<%# <h2>hello</h2> %>

<div class="container">
  <h2>List of all Vinyls</h2>
    <ul>
      <% @vinyls.each do |vinyl| %>
          <div class = "cards" style='margin: 5px'>
            <strong>Record Title: <%= link_to vinyl.record_title, vinyl_path(vinyl) %></strong>
            <strong>Label: <%= link_to vinyl.label, vinyl_path(vinyl) %></strong>
            <strong>Genre: <%= link_to vinyl.genre, vinyl_path(vinyl) %></strong>
            <strong>Qualitity: <%= link_to vinyl.quality, vinyl_path(vinyl) %></strong>
            <strong>Price Per Day: <%= link_to vinyl.price_per_day, vinyl_path(vinyl) %>$</strong>
            <%= link_to "book this Vinyl", new_vinyl_booking_path(vinyl), class: "btn btn-success"%>
            <hr>
          </div>
      <% end %>
    </ul>
      <%= link_to 'Offer a new Vinyl', new_vinyl_path %>
</div>


