
<%# <h2>hello</h2> %>
<div class="container my-3">
  <%= form_with url: vinyls_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Vinyl"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>



<h2 class="m-3 text-center">List of all Vinyls</h2>

  <div class="container">

    <%= link_to 'Offer a new Vinyl', new_vinyl_path, class: "btn btn-primary mb-3"  %>
    <% if @vinyls.empty? %>
      <p class="my-5 text-danger">There is no Vinyl matches your search!</p>
    <% end %>

    <div class="row">
      <% @vinyls.each do |vinyl| %>

        <div class="col-lg-4 col-md-6 mb-5 mr-md-4">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title display-6"><%= vinyl.record_title %></h5>
              <% if vinyl.photo.key %>
                <%= cl_image_tag vinyl.photo.key, width: 400, height: 300, crop: :fill, class: "card-img-top" %>
              <% end %>

                <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <div class="row">
                <div class="col-6">
                  <%= link_to "Book", new_vinyl_booking_path(vinyl), class: "btn btn-success shadow rounded btn-block"%>
                </div>
                <div class="col-6">
                  <%= link_to "More details", vinyl_path(vinyl), class: "btn btn-primary shadow rounded btn-block" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
