<%# <h2>hello</h2> %>
<div class="container my-3">
  <%= form_with url: vinyls_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Vinyl"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>


<div class="container">
  <h2>List of all Vinyls</h2>
  <%= link_to 'Offer a new Vinyl', new_vinyl_path %>
    <% if @vinyls.empty? %>
      <p class="my-5 text-danger">There is no Vinyl matches your search!</p>
    <% end %>
    <ul>
      <% @vinyls.each do |vinyl| %>
        <li>
          <div style='margin: 5px'>
            <strong><%= link_to vinyl.record_title, vinyl_path(vinyl) %></strong>
            <div class="row">
            <div class="col-3 my-1">
              <%= link_to "Book Vinyl", new_vinyl_booking_path(vinyl), class: "btn btn-success shadow rounded"%>
            </div>
            <div class="col-3 my-1">
              <%= button_to("Delete vinyl", vinyl_path(vinyl),
              method: :delete, turbo_confirm: "Are you sure?",
              class: "btn btn-danger shadow rounded") %>
            </div>
            </div>
            <hr>
          </div>
        </li>
      <% end %>
    </ul>
</div>
