
<%# <h2>hello</h2> %>
<div class="container my-3 ">
  <%= form_with url: vinyls_path, method: :get, class: "d-flex justify-content-center" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Vinyl"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
    <%= link_to 'Offer a new Vinyl', new_vinyl_path, class: "btn btn-primary my-3"  %>
</div>



<h2 class="m-3 text-center my-5">List of all Vinyls</h2>

  <div class="container d-flex align-items-center justify-content-center">

    <% if @vinyls.empty? %>
      <p class="my-5 text-danger">There is no Vinyl matches your search!</p>
    <% end %>

    <div class="row vw-100">
      <% @vinyls.each do |vinyl| %>

        <div class="col-lg-4 col-md-6 mb-4">
              <div class="card text-white card-has-bg click-col" style="background-image: url(<%= rails_blob_url(vinyl.photo) %>);">

                <div class="card-img-overlay d-flex flex-column">
                  <div class="card-body">
                    <small class="card-meta mb-2"><%= vinyl.release_year %></small>
                    <h4 class="card-title mt-0 "><a class="text-white" herf="#"><%= vinyl.record_title.capitalize %></a></h4>
                  </div>
                  <div class="card-footer">
                    <div class="media">
                      <img class="mr-3 rounded-circle" src="https://i.etsystatic.com/17022527/r/il/190fec/3134147941/il_794xN.3134147941_a6ar.jpg" alt="Generic placeholder image" style="max-width:50px">
                      <div class="media-body">
                        <h5 class="my-0 text-white d-block"><strong><%= vinyl.artist.capitalize %></strong></h5>
                        <small>Quality: <%= vinyl.quality %></small>
                        <hr>
                        <small>Price: <%= vinyl.price_per_day %></small>
                      </div>
                    </div>
                  </div>
                </div>
                <%= link_to '', vinyl_path(vinyl), class: 'card-link'  %>
                        <div class="row">
                          <div class="col-6 float-right">
                            <%= link_to "Book", new_vinyl_booking_path(vinyl), class: "btn btn-success shadow rounded btn-block"%>
                          </div>
                        </div>
              </div>
          </div>
      <% end %>

    </div>
</div>
