
<div class="container">
  <h1>
    <strong><%= @vinyl.record_title %></strong>
  </h1>
  <h4>belongs to: <strong><%= @vinyl.user.first_name %></strong></h4>

  <% @vinyl.bookings.sort_by(&:start_date).each_with_index do |booking, i| %>
    <p>booking <%= i + 1 %></p>
    <p>start = <%= booking.start_date %></p>
    <p>end = <%= booking.end_time %></p>
    <%= link_to "Edit vinyl", edit_vinyl_path(@vinyl), class: "btn btn-warning" %>
    <%= link_to "Delete vinyl", vinyl_path(@vinyl),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
    class: "btn btn-danger" %>
    <hr>
  <% end %>





  <p><%= link_to "book this Vinyl", new_vinyl_booking_path(@vinyl)%></p>


   </p>

</div>
