<div class="container mt-4" data-controller="dropdown">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-4"><%= @vinyl.record_title %></h1>
        <%= link_to "Book this Vinyl", new_vinyl_booking_path(@vinyl), class: "btn btn-primary"%>
      </div>
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Artist:</strong> <%= @vinyl.artist %></li>
            <li class="list-group-item"><strong>Release_year:</strong> <%= @vinyl.release_year %></li>
            <li class="list-group-item"><strong>Quality:</strong> <%= @vinyl.quality %></li>
            <li class="list-group-item"><strong>Genre:</strong> <%= @vinyl.genre %></li>
            <li class="list-group-item"><strong>Label:</strong> <%= @vinyl.label %></li>
            <li class="list-group-item"><strong>Price per day:</strong> € <%= @vinyl.price_per_day %></li>
            <li class="list-group-item mb-3"><strong>Uploaded by:</strong> <%= @vinyl.user.first_name %> </li>
          <hr style="display:none">
          </ul>
          <div class="d-flex justify-content-between">
            <%= link_to "Edit", edit_vinyl_path(@vinyl), class: "btn btn-warning" %>
            <%= button_to("Delete", vinyl_path(@vinyl),
            method: :delete, turbo_confirm: "Are you sure?",
            class: "btn btn-danger") %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 align-self-end">
      <div class="card shadow-lg rounded">
        <% if @vinyl.photo.key %>
          <li class="list-group-item"><%= cl_image_tag @vinyl.photo.key, height: 400, width: 400, crop: :fill, class: 'card-img-top rounded' %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <h3 class="text-center mt-4 mb-4"><strong><%= @vinyl.record_title %></strong>'s Bookings</h3>
  <div class="container mt-4">
  <div class="row">
  <% @vinyl.bookings.sort_by(&:start_date).each_with_index do |booking, i| %>
    <div class="col-md-6 mb-3">
          <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Booking:</strong> <%= i + 1 %></li>
            <li class="list-group-item"><strong>From:</strong> <%= booking.start_date %></li>
            <li class="list-group-item"><strong>To:</strong> <%= booking.end_time %></li>
            <li class="list-group-item"><strong>Around:</strong> <%= (booking.end_time - booking.start_date).to_i %> Day(s)</li>
          <hr style="display:none">
          </ul>
            <%= button_to("Delete", booking_path(booking),
            method: :delete, turbo_confirm: "Are you sure?",
            class: "btn btn-danger mt-3") %>
        </div>
      </div>
    </div>

  <% end %>
  </div>
</div>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
