
<div class="container" >
  <h1>
    <strong><%= @vinyl.record_title %></strong>
  </h1>
  <h4>belongs to: <strong><%= @vinyl.user.email %></strong></h4>

  <% @vinyl.bookings.sort_by(&:start_date).each_with_index do |booking, i| %>
    <p>booking <%= i + 1 %></p>
    <p>start = <%= booking.start_date %></p>
    <p>end = <%= booking.end_time %></p>
    <hr>
  <% end %>





  <p><%= link_to "book this Vinyl", new_vinyl_booking_path(@vinyl)%></p>


   </p>

</div>
