<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <% if user_signed_in? %>
    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <%# <img src="../../assets/images/vinyl" alt=""> %>
     <p class= "text"  > <%=  image_tag "https://www.furnacemfg.com/wp-content/uploads/2018/12/black_vinyl.jpg"  %>   Dashboard</p>
    <% end  %>
    <% end  %>
    <%# <% if user_signed_in? %>
      <%# <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
    <%# <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class= "text nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class= "text nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/fadibibawy", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path , class: "dropdown-item" %>
            </div>
              <%= button_to("Log out", destroy_user_session_path, method: :delete, class: "dropdown-item") %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
