
<div class="container">
  <H1>Dashboard</H1>
  <%= link_to "Go to All Vinyls💿", vinyls_path %>
<div class="container">
  <hr>
  <ul class="list-group">

  </ul>
    <br>
    <br>
    <br>
    <hr>
  </div>

<div class="container">
<th></th>
</div>

</div>









<section class="wrapper">

<div class="container row">

  <div class="uploaded col-lg-8 col-md-6 col-sm-6">
    <h4>My Uploaded Vinyls</h4>

    <div class="row">
      <% @vinyls.each do |vinyl|%>
        <%# <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');"> %>

        <%# <div class="card col-lg-4 col-md-6 p-1 mb-5"> %>



          <div class="col-lg-4 col-md-6">
              <div class="card text-white card-has-bg click-col" style="background-image: url(<%= rails_blob_url(vinyl.photo) %>);">

                <div class="card-img-overlay d-flex flex-column">
                  <div class="card-body">
                    <small class="card-meta mb-2"><%= vinyl.release_year %></small>
                    <h4 class="card-title mt-0 "><a class="text-white" herf="#"><%= vinyl.record_title.capitalize %></a></h4>
                  </div>
                  <div class="card-footer">
                    <div class="media">
                      <img class="mr-3 rounded-circle" src="https://i.etsystatic.com/17022527/r/il/190fec/3134147941/il_794xN.3134147941_a6ar.jpg" alt="Generic placeholder image" style="max-width:50px">
                      <div class="media-body">
                        <h5 class="my-0 text-white d-block"><strong><%= vinyl.artist.capitalize %></strong></h5>
                        <small>Quality: <%= vinyl.quality %></small>
                      </div>
                    </div>
                  </div>
                </div>
                <%= link_to '', vinyl_path(vinyl), class: 'card-link'  %>
              </div>
          </div>
      <% end %>
    </div>
  </div>




  <div class="bookings col-lg-4 col-md-6 col-sm-6 border-start">
    <h4>My Bookings 🧾</h4>
    <ul class="list-group">

      <% @bookings.each do |booking| %>
        <li class="list-group-item active">Vinyl title: <strong class="text-light bg-dark"><%= link_to booking.vinyl.record_title, vinyl_path(booking.vinyl)%></strong> </li>
        <li class="list-group-item">start date: <%= booking.start_date %></li>
        <li class="list-group-item">end date: <%= booking.end_time %></li>
        <li class="list-group-item">total price: <%= booking.total_price %>€</li>
        <li class="list-group-item"><%= button_to("Delete", booking_path(booking), method: :delete, class: 'btn btn-danger') %></li>
      <% end %>
    </ul>

  </div>
</div>
</section>
