<!DOCTYPE html>
<html>
  <head>
    <title>Vinylize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <%= javascript_include_tag :defaults %>
  </head>

  <body>
    <%= button_to('Logout', destroy_user_session_path, :method => :delete) %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <% if user_signed_in? %>
      <h2>Hi <%= current_user.email %> </h2>
    <% end %>
  </body>
</html>
